<div class="min-h-screen flex items-center justify-center flex-col bg-slate-700">

    <div class="text-center py-4">
        <span class="text-2xl block font-bold text-white">Welcome 👋</span>

        <span class="text-2xl block font-bold text-white">
            <span class="coin-icon">
                <fa-icon [icon]="coinICon"></fa-icon>
            </span>

            Finance Buddy: Simplify Your Spending, Master Your Money!
        </span>
    </div>
    <!-- Navigation bar -->
    <!-- <nav class="bg-slate-500 p-2"> -->
    <!-- left section -->
    <!-- <div class="flex">
    <span class="coin-icon"><fa-icon [icon]="coinICon"></fa-icon></span>
    <h2 class="font-bold text-yellow-50 text-lg px-4">Finance Buddy</h2>
  </div>
</nav> -->
    <app-login-form></app-login-form>

</div>